MONGO_URI=mongodb://127.0.0.1:27017/enigma
MONGODB_URI=mongodb://127.0.0.1:27017/genwav
MONGODB_DB=genwav
ENIGMA_MONGODB_URI=mongodb://127.0.0.1:27017/enigma
ENIGMA_MONGODB_DB=enigma
PORT=5001
ONBOARD_PW=onboardinglocura